/*
	Skin Name: Pixel
	Class: pixel
	Description: Pixel skin for Advanced Slider jQuery plugin
	Author: David
*/


/* MAIN SLIDE */

.pixel .slide-wrapper
{
	background-color:#FFF;
	border:4px solid #FFF;
	-moz-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
	box-shadow: 0px 0px 10px #CCC;
}

/* END OF MAIN SLIDE */


/* PRELOADER */

.pixel .preloader
{
	background:url(images/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
}

/* END OF PRELOADER */


/* SLIDE ARROWS */

.pixel .navigation-arrows a
{
	background:url(images/arrows.png) no-repeat;
	width:38px;
	height:38px;
	top:50%;
	margin-top:-19px;
}


.pixel .navigation-arrows a.previous
{
	left:20px;
}


.pixel .navigation-arrows a.next
{
	right:20px;
	background-position: -38px 0px;
}

/* END SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.pixel .slideshow-controls
{
	background:url(images/playpause.png) no-repeat;
	width:38px;
	height:38px;
	top:50%;
	left:50%;
	margin-top:-19px;
	margin-left:-19px;
}


.pixel .slideshow-controls.pause
{
	background-position: 0px 0px;
}


.pixel .slideshow-controls.play
{
	background-position: -38px 0px;
}

/* END OF SLIDESHOW CONTROLS */


/* SHADOW */

.pixel .shadow
{	
	height:94px;
	margin-top:-50px;
}


.pixel .shadow .shadow-left, .pixel .shadow .shadow-right
{
	width:200px;
	height:94px;
}


.pixel .shadow .shadow-left
{
	background:url(images/shadow_left.png);
}


.pixel .shadow .shadow-right
{
	background:url(images/shadow_right.png)
}


.pixel .shadow .shadow-middle
{
	background:url(images/shadow_middle.png) repeat-x;
	height:94px;
}

/* END OF SHADOW */


/* TIMER ANIMATION */

.pixel .timer-animation
{
	top:20px;
	right:20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.pixel .caption .background
{
	background-color:#000;
	width:100%;
	height:100%;
}


.pixel .caption .content
{	
	color:#FFF;
	margin:0px;
	padding:8px;
	font-size:16px;
	line-height:18px;
}

/* END OF SLIDE CAPTION */


/* NAVIGATION BUTTONS/BULLETS */

/* main container of the navigation buttons */
.pixel .navigation-buttons
{
	bottom:-50px;
}

/* 
 left, right and middle of the main container 
 for this skin, these elements are not styled by default
 feel free to add your own styling
*/
.pixel .navigation-buttons .left, .pixel .navigation-buttons .right{}


.pixel .navigation-buttons .left{}


.pixel .navigation-buttons .middle{}


.pixel .navigation-buttons .right{}


/* this contains the buttons */
.pixel .navigation-buttons .buttons{}


/* this is a button */
.pixel .navigation-buttons .buttons a
{
	background:url(images/buttons.png) no-repeat;
	background-position:0px 0px;
	cursor:pointer;
	width:14px;
	height:14px;
	margin:0px 2px;
	text-align:center;
}


.pixel .navigation-buttons .buttons a.over
{
	background-position:-14px 0px; 
}


.pixel .navigation-buttons .buttons a.select
{
	background-position:-28px 0px; 
}


/* this is used to style the numbers from within the buttons, when they are used */
.pixel .navigation-buttons .buttons a .number
{
	margin-top: 2px;
	font-size:9px;
	line-height:11px;
	color:#666;
}


.pixel .navigation-buttons .buttons a.over .number
{
	font-size:8px;
	color:#FFF;
}


.pixel .navigation-buttons .buttons a.select .number
{
	font-size:8px;
	color:#FFF;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.pixel .navigation-buttons .buttons .thumbnail
{
	margin-bottom:10px;
}

/* END OF NAVIGATION BUTTONS/BULLETS */


/* THUMBNAIL IMAGE */

.pixel .thumbnail
{
	background-image:url(images/preloader.gif);
	background-color:#FFF;
	background-position:center;
	background-repeat:no-repeat;
	border:solid 3px #FFF;
	-moz-box-shadow: 0px 0px 10px #AAA;
	-webkit-box-shadow: 0px 0px 10px #AAA;
	box-shadow: 0px 0px 10px #AAA;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#AAAAAA')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#AAAAAA');
}

/* END OF THUMBNAIL IMAGE */


/* NAVIGATION THUMBNAILS / THUMBNAIL SCROLLER */

.pixel .navigation-thumbnails.horizontal
{
	margin-top:50px;
	padding:0px 20px;
}


.pixel .navigation-thumbnails.vertical
{
	margin-left:50px;
	padding:20px 0px;
}


.pixel .navigation-thumbnails .thumbnail
{
	cursor:pointer;
	margin:10px 5px;
}


.pixel .navigation-thumbnails .thumbnail.over
{
	border:solid 3px #FFF;
	-moz-box-shadow: 0px 0px 10px #555;
	-webkit-box-shadow: 0px 0px 10px #555;
	box-shadow: 0px 0px 10px #555;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555');
}


.pixel .navigation-thumbnails .thumbnail.select
{
	border:solid 3px #FFF;
	-moz-box-shadow: 0px 0px 10px #555;
	-webkit-box-shadow: 0px 0px 10px #555;
	box-shadow: 0px 0px 10px #555;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555');
}


/* THUMBNAIL CAPTION */

.pixel .thumbnail .caption .background
{
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


.pixel .thumbnail .caption .content
{
	color:#FFF;
	font-size:12px;
	line-height:14px;
	text-align:center;
	padding:2px 0px;
	margin:0px;
}

/* END OF THUMBNAIL CAPTION */


/* NAVIGATION THUMBNAILS ARROWS */

.pixel .navigation-thumbnails .arrows a
{
	background:url(images/arrows.png) no-repeat;
	width:38px;
	height:38px;
}


.pixel .navigation-thumbnails.vertical .arrows a
{
	background:url(images/arrows_v.png) no-repeat;
}


.pixel .navigation-thumbnails .arrows a.next
{
	background-position:-38px 0px;
}


.pixel .navigation-thumbnails.horizontal .arrows a.previous
{
	left:0px;
}


.pixel .navigation-thumbnails.horizontal .arrows a.next
{
	right:0px;
}


.pixel .navigation-thumbnails.vertical .arrows a.previous
{
	top:0px;
}


.pixel .navigation-thumbnails.vertical .arrows a.next
{
	bottom:0px;
}

/* END OF NAVIGATION THUMBNAILS ARROWS */


/* NAVIGATION THUMBNAILS BUTTONS */

.pixel .navigation-thumbnails .buttons a
{
	background:url(images/buttons_small.png) no-repeat;
	background-position:0px 0px; 
	width:10px;
	height:10px;
	margin: 2px;
}


.pixel .navigation-thumbnails .buttons a.over
{
	background-position:-10px 0px; 
}


.pixel .navigation-thumbnails .buttons a.select
{
	background-position:-20px 0px; 
}


.pixel .navigation-thumbnails.horizontal .buttons
{
	margin-top:0px;
}


.pixel .navigation-thumbnails.vertical .buttons
{
	margin-left:0px;
}

/* END OF NAVIGATION THUMBNAILS BUTTONS */


/* NAVIGATION THUMBNAILS SCROLLBAR */

.pixel .navigation-thumbnails.horizontal .scrollbar
{
	margin-top:30px;
}


.pixel .navigation-thumbnails.vertical .scrollbar
{
	margin-left:30px;
}

/* END OF NAVIGATION THUMBNAILS SCROLLBAR */

/* END OF NAVIGATION THUMBNAILS / THUMBNAIL SCROLLER */


/* TOOLTIP */

.pixel .tooltip
{
	background-color:#DDD;
	margin-bottom:20px;
	border:#EEE solid 4px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}


.pixel .tooltip .content
{
	color:#999;
	padding:10px;
	margin:0px;
}

/* END OF TOOLTIP */